<div *ngIf="professor" class="mt-4">
  <h3>{{professor.nome}}</h3>

  <div class="container">
    <label class="form-label" for="professor-nome">Nome: </label>
    <input id="professor-nome" class="form-control" [(ngModel)]="professor.nome" placeholder="nome">

    <label class="form-label" for="professor-curso">Curso: </label>
    <input id="professor-curso" class="form-control" [(ngModel)]="professor.curso" placeholder="curso">
    
    <label class="form-label" for="professor-matricula">Matrícula: </label>
    <input id="professor-matricula" class="form-control" [(ngModel)]="professor.matricula" placeholder="Matricula">
  </div>
</div>